@model ManagementViewModel



<form method="get" action="/Management" class="mb-3">
    <button class="btn btn-light" type="button" id="public">Show public</button>
    <button class="btn btn-light" type="button" id="notpublic">Show not public</button>
    <button class="btn btn-light" type="button" id="all">Show all</button>

</form>
<div>
    @foreach (var article in Model.Articles)
    {
        string contentShort = HtmlTruncator.TruncateHtml(article.Content, 600);


        <div class="card mb-3 border-0 h-100 bg-white text-black">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/images/intro.webp" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><strong>@article.Title</strong></h5>
                        <p class="card-text"><small>@article.PublishingDate.ToShortDateString()</small></p>
                        <div class="form-check">
                            <div id="checkboxStyling">

                                <label class="form-check-label" for="flexCheckDefault"><small>Is public?</small></label>
                                <input class="form-check-input" type="checkbox" disabled @(article.IsPublic ? "checked" : "") />


                            </div>
                        </div>


                        <p class="card-text">@Html.Raw(contentShort)</p>
                        <a href="management/EditArticle?articleId=@article._id"><button type="button" class="btn btn-dark mb-3 justify-content-end">Edit</button></a>
                        <a href="management/DeleteArticle?articleId=@article._id"><button type="button" class="btn btn-dark mb-3 justify-content-end">Delete</button></a>


                    </div>
                </div>
            </div>
        </div>
    }
</div>


<script>

    // TODO: Tee dynaamisexi


    $("#notpublic").click(function () {
        $.ajax({
            url: '@Url.Action("FilterArticles", "Management")',
            type: 'GET',
            data: { filter: 'notpublic' }, // Pass the filter parameter
            success: function (data) {
                $('#render-container').html(data);
            },
            error: function () {
                alert("Error loading articles.");
            }
        });
    });

        $("#public").click(function () {
        $.ajax({
            url: '@Url.Action("FilterArticles", "Management")',
            type: 'GET',
            data: { filter: 'public' }, // Pass the filter parameter
            success: function (data) {
                $('#render-container').html(data);
            },
            error: function () {
                alert("Error loading articles.");
            }
        });
    });

    $("#all").click(function () {
        $.ajax({
            url: '@Url.Action("FilterArticles", "Management")',
            type: 'GET',
            data: { filter: 'all' }, // Pass the filter parameter
            success: function (data) {
                $('#render-container').html(data);
            },
            error: function () {
                alert("Error loading articles.");
            }
        });
    });

</script>