@model Message


<div class="container-lg mt-5">
<h1 class="mt-2">Message</h1>                 


<p>Name: @Model.FullName</p>
<p>Date: @Model.DateSubmitted.ToShortDateString()</p>
<p>Email: @Model.Email</p>
<p>Subject: @Model.Subject</p>
<p>Message: @Model.ContactMessage</p>
<p>Status: @(Model.Answered ? "Answered" : "Not answered")</p>


    <a href="@(Model.Answered ? "#" : "/management/markanswered?id=" + Model._id)"
       class="btn btn-light mt-3 @(Model.Answered ? "disabled " : "")"
       onclick="@(Model.Answered ? "event.preventDefault();" : "")">
        Mark answered
    </a>
    <br />
    <button class="btn btn-light mt-3 me-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>


    <button class="btn btn-light mt-3" type="button" onclick="window.history.back();">Go Back</button>

</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-black" id="exampleModalLabel">@Model.Subject</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-black text-center fw-bold">Are you sure you want to delete?</p>

                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Close</button>
                    <form method="post" action="/management/DeleteMessage" class="d-inline">
                        <input type="hidden" name="MessageId" value="@Model._id" />
                        <button type="submit" class="btn btn-dark">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


