@model List<Article>

@{
    ViewData["Title"] = "Home Page";
}


<div class="bg-image container-fluid align-content-center text-center">
    <h1 class="fw-bolder lead fs-1">Professional photography for your needs</h1>
    <h2 class="lead fs-2">We believe being the best is not enough</h2>
    <div class="ScrollEffect">
        <i class="bi bi-caret-down-fill fs-1"></i>
    </div>

</div>


<div class="mt-5 container-lg p-3">
    <h1 class="text-white fs-1 fw-bold p-3" style="max-width: 75%">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </h1>



 <div class="container-fluid ms-4">

        <h3 class="text-white fs-3 mt-5" >
        Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </h3>
    <h3 class="text-white fs-3 mt-5" >        Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </h3>
</div>
</div>

    <div class="row p-5 justify-content-center mt-2" >

        
        <div class="col-xxl-3 text-black bg-white rounded-1 p-3 mb-3 align-content-center custom-section me-3">
            <h1>Who am I?</h1>
                <p class="fs-5 p-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>

        </div>
        <div class="col-xxl-3 rounded-1 p-0 mb-3">
            <img src="images/jorppa.jpg" class="d-block mx-lg-auto img-fluid"
                 alt="placeholdeer">
        </div>
</div>

<div class="container mt-5 text-white">
    @if (Model.Count > 0)
    {
        <h3 class="mt-4">Latest articles</h3>
        <div class="row row-cols-1 row-cols-lg-3 g-4 mt-1">

            @foreach (var x in Model)
            {


                string contentShort = HtmlTruncator.TruncateHtml(x.Content, 390);
                string titleShort = HtmlTruncator.TruncateHtml(x.Title, 45);
                string titleFormatted = x.Title.Replace(" ", "-");


                <div class="col">
                    <div class="card h-100 border-0 text-white bg-black">
                        <a href="@Url.Action("Read", "Articles", new { slug = @x.Slug })">
                            @if (x.ImagePath != null) {<img src="@x.ImagePath" class="card-img-top" alt="@x.Title">}
                            else { <img src="images/Articles/default.webp" class="card-img-top" alt="default i"> }
                        </a>
                        <div class="card-body">
                            <h2 class="card-title">@titleShort</h2>
                            <p class="lead">@x.PublishingDate.ToShortDateString()</p>
                            <p class="card-text">@Html.Raw(@contentShort)</p>
                            <a href="@Url.Action("Read", "Articles", new { slug = @x.Slug })" class="btn btn-light fw-bold">Read</a>
                        </div>
                    </div>
                </div>
            }
        </div>

    }
    else
    {
        <p>No articles found!</p>
    }
    </div>
<div class="container-fluid mt-5">

    <div class="row alignt-content-center justify-content-center">

        <div class="col-8">
            <h3>Instagram</h3>
            <div class="elfsight-app-42fc9609-6015-469b-806b-2bc95ee09ff5 mt-3" data-elfsight-app-lazy></div>
        </div>
    </div>
</div>

<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
